.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  height: 500px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___props-box {
  max-width: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background: #ba0303;
  font-weight: 700;
  padding: 0.78rem;
  font-family: 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.fighter-preview___props-box span {
  margin: 0.22rem 0;
}

.fighter-preview___left,
.fighter-preview___right {
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fighter-preview___left img,
.fighter-preview___right img {
  height: 25rem;
}
